

<div>
    
    <!-- <input type="file" ng-change="selectFolder(event);" webkitdirectory mozdirectory msdirectory odirectory directory multiple="multiple" /> -->
    
    <!-- <input class="mat-raised-button" type="file" (change)="selectFolder($event)" webkitdirectory mozdirectory msdirectory odirectory directory multiple="multiple" /> -->
</div>

<!-- <script type="text/javascript" ></script>
<div ng-controller="CanvasCtrl">
    <div id="list" style="margin-left: 620px">
        Points:
        <ul>
        <li *ngFor="let img of images">
            [{{img}}] <a ng-click="removePoint(point)">[x]</a>
        </li>
        </ul>
    </div>
</div> -->